:root {
   --color: #2E2F42;
   --accent-color: #3a45b7;
}
body {
    font-family: 'roboto', sans-serif;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/*-----------Header-------------*/

.header {
    background: #FFFFFF;
}

.header-logo {
    font-family: 'raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
}
.header-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-link: is (:hover, :focus) {
    color: #4D5AE5;
}

/*.nav-list {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-list: is (:hover, :focus) {
    color: #4D5AE5;
}*/


.address-list {
    font-family: inherit;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.address-list: is (:hover, :focus) {
    color: #4D5AE5;
}

/*------------Hero----------*/

.hero {
    background-color: #2e2f42;
}

.hero-title { 
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.hero-btn {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    display: flex;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero-btn: is (:hover, :focus, :active) {
    background-color: #4D4BBF;
}
/*-------------Main----------------*/

.credo-list-strategy {
    
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.credo-list-strategy-desription {
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: #434455;
}

.credo-list-punctuality {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.credo-list-punctuality-description {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.credo-list-diligence {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.credo-list-diligence-description {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }

.credo-list-technologies {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.credo-list-technologies-description {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.about {
        font-size: 36px;
        line-height:1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
         color: #2E2F42;
}

.team {
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
        background: #F4F4FD;
}

.team-list-title-mark {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.team-list-text-mark {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-list-title-tom {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42; 
}

.team-list-text-tom {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.team-list-title-camila {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.team-list-text-camila {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.team-list-title-daniel {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.team-list-text-daniel {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}


/*-------------Footer---------------*/

.footer {
    background-color: #2E2F42;
}

.footer-logo {
    font-family: 'raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
    text-decoration: none;
    list-style: none;
}

.footer-logo: is (:hover, :focus) {
    color #4D5AE5;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    
}

/*--------------Portfolio header-----------*/

.header-mailto {
    
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-mailto: is (:hover, :focus) {
    color: #4D5AE5;
}

.header-tel {
    
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-tel: is (:hover, :focus) {
    color: #4D5AE5;
}
 
.button-list {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}
.accent {
    color: #4D5AE5;
}

.button-list: is (:hover, :focus) {
    color: #4D5AE5;
}

.banking-app-head {
    font-weight: 500;   
    font-size: 20px; 
    line-height: 1.2; 
    letter-spacing: 0.02em;
    color:#2E2F42; 
}

.text-app {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.cashless-payment-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;

}

.text-markenting {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.meditation-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.taxi-service-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.text-marketing {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.screen-illustration-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.text-design {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.online-courses-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.instagram-stories-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.organic-food-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.text-web-site {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.fresh-coffe-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}


